{% extends 'base.html' %}
{% load static %}

{% block title %}
    サインアップ
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="my-div-style">
                <h1>サインアップ</h1>
                <form method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form.as_p }}

                    {% if redirect_field_value %}
                        <input type="hidden" value="{{ redirect_field_value }}"
                               name="{{ redirect_field_name }}">
                    {% endif %}
                    <button type="submit" class="btn btn-success">登録</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
